@use '@styles/common.scss';

html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  &.no-scroll {
    overflow: hidden;
  }
}
